@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@500;700&display=swap");
/****** Color Variables *********/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 15px;
  font-family: 'League Spartan', sans-serif;
}

body {
  background: #effafa;
}

/*********** Mixins ************/
header {
  background: #5ba4a4 url("../images/bg-header-desktop.svg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 160px;
  width: 100%;
  position: fixed;
  z-index: 1;
}

main {
  padding: 18rem 8rem 5rem;
}

.job-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: #7b8e8e;
  font-weight: 500;
}

.job-name {
  color: #5ba4a4;
  font-weight: 700;
  background: #effafa;
  padding: .3rem;
  border-radius: .3rem;
  cursor: pointer;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

.job-name:hover {
  color: white;
  background: #5ba4a4;
}

.company-name {
  color: #5ba4a4;
  font-weight: 700;
}

.job-tag {
  color: #eef6f6;
  padding: .3rem .5rem;
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 1.2rem;
  margin-top: 3rem;
  font-size: .8rem;
  font-weight: 700;
  margin-top: 0;
}

.company-image {
  border-radius: 50%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.job-title {
  color: #2c3a3a;
  font-size: 1.5rem;
  font-weight: 700;
}

.job-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  padding: 3rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: .5rem;
  -webkit-box-shadow: 0 8px 20px -5px #5ba4a4;
          box-shadow: 0 8px 20px -5px #5ba4a4;
}

.job-card.featured {
  border-left: 0.5rem solid #5ba4a4;
}

.jobs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 4rem;
}

.job-filter {
  padding: 2rem 3rem;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: fixed;
  left: 8rem;
  right: 8rem;
  bottom: -50%;
  border-radius: .3rem;
  -webkit-box-shadow: 0 8px 20px -5px #5ba4a4;
          box-shadow: 0 8px 20px -5px #5ba4a4;
  position: absolute;
}

.filter-display {
  overflow: auto;
}

.filter-display::-webkit-scrollbar {
  display: none;
}

.filter-input {
  border: none;
  border-bottom: 0.2rem solid #5ba4a4;
  outline: none;
  padding: .5rem;
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
}

.filter-input:focus {
  background: #effafa;
}

.clear-button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: none;
  border: none;
  text-decoration: underline;
  background: transparent;
  color: #5ba4a4;
  cursor: pointer;
}

.filter-name {
  border-radius: .3rem 0 0 .3rem;
}

.filter-name:hover {
  background: #eef6f6;
  color: #5ba4a4;
}

.remove-icon {
  background: #5ba4a4;
  padding: .3rem;
  cursor: pointer;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  border-radius: 0 .3rem .3rem 0;
}

.remove-icon:hover {
  background: #2c3a3a;
}

.d-flex-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.d-flex-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.show-on-mobile {
  display: none;
}

.unshow-on-mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.gap-2 {
  gap: 2rem;
}

@media screen and (max-width: 1185px) {
  main {
    padding: 20rem 8rem 5rem;
  }
  .job-card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 1rem;
    position: relative;
  }
  .job-card > .d-flex-row:first-child {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .job-card > .d-flex-row:first-child > .d-flex-column {
    gap: 1rem;
  }
  .job-card > .d-flex-row:last-child {
    display: block;
  }
  .job-card > .d-flex-row:last-child > div {
    display: inline-block;
    margin-right: 2rem;
    margin-bottom: 1rem;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .show-on-mobile {
    display: block;
  }
  .show-on-mobile.d-flex-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .unshow-on-mobile {
    display: none;
  }
  .company-image {
    width: 3rem;
    height: 3rem;
    position: absolute;
    top: -10%;
  }
}

@media screen and (max-width: 968px) {
  main {
    padding: 20rem 5rem 5rem;
  }
  .job-filter {
    left: 5rem;
    right: 5rem;
  }
}

@media screen and (max-width: 778px) {
  .job-filter .gap-2 {
    gap: 1rem;
  }
}

@media screen and (max-width: 660px) {
  main {
    padding: 20rem 3rem 5rem;
  }
  .job-filter {
    left: 3rem;
    right: 3rem;
  }
}

@media screen and (max-width: 600px) {
  header {
    background: #5ba4a4 url("../images/bg-header-mobile.svg");
  }
}
/*# sourceMappingURL=main.css.map */